

.header-image img {
    padding-top: 10px;
    width: 100%;
    height: auto;
}
.content {
    padding-top: 20px;
}
.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
}
.content strong {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}

.ligne {
    border-top: 1px solid #000;
    margin: 10px 0;
}

/* a propos */

.logoap img {
    padding-top: 197px;
    width: 100%;
    height: auto;
    display: block;
}




