

.header-image img {
    padding-top: 10px;
    width: 100%;
    height: auto;
}
.content {
    padding-top: 20px;
}
.content h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.content p {
    margin-bottom: 10px;
}
.content strong {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}

