.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: scroll;
    position: fixed;
    inset: 0;
    background-color: #282828;
    transition: all 0.4s ease-in-out;
    text-align: center;
  }

  .menu[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
  }
  
  .menu__list {
    font-family: 'Viaoda Libre', cursive;
    font-size: 28px;
    list-style: none;
    width: 100%;
    justify-content: center;
    
  }
  
  .menu__list.listUnstyled {
    list-style: none;
    padding-left: 0;

  }
  
  .menu__item {
    margin-top: 35px;
  }

  .menu__iteml {
    margin-top: 20px;
  }
  
  .menu__link {
    color: white;
    text-decoration: none;
  }

  .menu__linkl {
    font-size: 22px;
    color: white;
    text-decoration: none;
  }
  
  .menu-btn {
    margin-top: 36px;
    position: relative;
    z-index: 3;
    width: 30px;
    margin-right: 1px;
  }
  
  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    background: #282828;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  
  .menu-btn__bar::before {
    top: -10px;
  }
  
  .menu-btn__bar::after {
    top: 10px;
  }
  

  .menu-btn[aria-expanded="true"] .menu-btn__bar,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: rgb(255, 255, 255);
  }
  
  .menu-btn[aria-expanded="true"] .menu-btn__bar::before,
  .menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
  }
  

  .lignemenu {
    width: 70%;
    height: 1.2px;
    background-color: rgb(255, 255, 255); 
    margin: 20px auto;
}

  .class {
    font-family: 'Viaoda Libre', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: start;
    margin-left: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;    
    color: #ffffff;
  }