.h1 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 36px;
    font-weight: normal;
}

.h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    font-weight: normal;
}

.h3 {
    font-family: 'Sura', bold;
    font-size: 18px;
    font-weight: normal;
}

.p{
    font-family: 'Sura';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.15px;
}

.block{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 17px;
}

.smalltext{
    font-family: 'Sura';
    font-size: 8px;
    font-style: normal;
}

.center{
    text-align: center;
}

.button1{
    font-family: 'Montserrat';
    font-size: 14px;
    float: right;
    padding: 5px;
    background-color: #ffffff;
    border : solid 2px;
    color: #525252;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* bloc article page accueil*/

.containerb {
    display: block;
    align-items: center;
    width: 335px;
    background: #fff;
    padding: 20px;
}

.ligne {
    border-top: 1px solid #000;
    margin: 10px 0px;
}

.image-containerb img {
    width: 100%;
    height: auto;
    display: block;
}

.contentb {
    margin-top: 15px;
}

.contentb h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.contentb p {
    font-family: 'Sura';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.15px;
}

.contentb strong {
    font-family: 'Sura';
    font-size: 15px;
}

.bbutton-container{
    margin-top: 20px;
}

.bbutton {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.bbutton:hover {
    background: #333;
    color: #fff;
}

/*fin bloc article page accueil*/

/*frise*/

.timeline-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border-left: 2px solid #000;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.timeline-item .timeline-text {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.timeline-item .timeline-image {
    flex: 1;
    text-align: right;
}

.timeline-item .timeline-image img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-item p {
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
}

.timeline-item img {
    border: 1px solid #fff;
    border-radius: 5px;
}

/*Contact*/

.contact-container {
    max-width: 400px;
    padding: 20px;
    background-color: #2d2d2d;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    font-size: 1em;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
    color: #fff;
}

/*fin contact*/