.h1 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 36px;
    font-weight: normal;
}

.h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    font-weight: normal;
}

.p{
    font-family: 'Sura';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.15px;
}

.block{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 17px;
}

.center{
    text-align: center;
}

/* bloc article page accueil*/

.containerb {
    display: block;
    align-items: center;
    width: 335px;
    background: #fff;
    padding: 20px;
}

.ligne {
    border-top: 1px solid #000;
    margin: 10px 20px;
}

.image-containerb img {
    width: 100%;
    height: auto;
    display: block;
}

.contentb {
    margin-top: 15px;
}

.contentb h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.contentb p {
    font-family: 'Sura';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.15px;
}

.contentb strong {
    font-family: 'Sura';
    font-size: 15px;
}

.bbutton-container{
    margin-top: 20px;
}

.bbutton {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.bbutton:hover {
    background: #333;
    color: #fff;
}

/*fin bloc article page accueil*/

